<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lista de Produto
      </h1>
    </section>
    
    <!-- Main content -->
    <section class="content">
    
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Editar Produtos</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/admin/products/{$product.idproduct}" method="post" enctype="multipart/form-data">
              <div class="box-body">
                <div class="form-group">
                  <label for="desproduct">Nome do Produto</label>
                  <input type="text" class="form-control" id="desproduct" name="desproduct" placeholder="Digite o nome do prato" value="{$product.desproduct}">
                </div>
                <div class="form-group">
                    <label>Loja</label>
                    <select class="form-control" name="idstore">
                      {loop="$stores"}               
                        {if="$value.idstore == $product.idstore"}
                            <option value="{$value.idstore}" selected="selected">{$value.idstore} - {$value.desstore}</option>
                        {else}
                            <option value="{$value.idstore}">{$value.idstore} - {$value.desstore}</option>
                        {/if}
                      {/loop}                     
                    </select>
                  </div>
                <div class="form-group">
                  <label for="vlprice">Preço</label>
                  <input type="number" class="form-control" id="vlprice" name="vlprice" step="0.01" placeholder="0.00" value="{$product.vlprice}">
                </div>
                <div class="form-group">
                      <label>Unidade</label>
                      <select class="form-control" name="desunity">  
                              {if="$product.desunity == 'KG'"}
                                <option value="KG" selected="selected">KG</option>                    
                                <option value="UN">UN</option>
                              {else}
                                <option value="KG">KG</option>                    
                                <option value="UN" selected="selected">UN</option>         
                              {/if}
                      </select>
                    </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description...">{$product.description}</textarea>
                </div>
                <div class="form-group">
                  <label for="file">Foto</label>
                  <input type="file" class="form-control" id="file" name="file" value="/res/site/img/{$product.desphoto}">
                  <div class="box box-widget">
                    <div class="box-body" style="width: 300px;height: 300px;">
                      <img class="img-responsive" id="image-preview" src="/res/site/img/{$product.desphoto}" alt="Photo" onerror="this.onerror=null; this.src='/res/site/img/product.jpg'">
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </form>
          </div>
          </div>
      </div>
    
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <script>
    document.querySelector('#file').addEventListener('change', function(){
      
      var file = new FileReader();
    
      file.onload = function() {
        
        document.querySelector('#image-preview').src = file.result;
    
      }
    
      file.readAsDataURL(this.files[0]);
    
    });
    </script>